In [1]:
#Import libraries
library(DBI)
library(dplyr)
library(bigrquery)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
#Create a connection to the baseball database (which is a big query database)
con <- dbConnect(bigrquery::bigquery(), 
                 project="bigquery-public-data",
                 dataset="baseball",
                 billing="the-racer-332418")

In [3]:
#Test connection: print all table names in Baseball database
dbListTables(con)

[1] "games_post_wide" "games_wide"      "schedules"

In [6]:
#Practice queries
blue_jays_home <- dbGetQuery(con, "SELECT homeTeamName, awayTeamName FROM schedules WHERE homeTeamName='Blue Jays'")
nrow(blue_jays_home)

[1] 81

In [7]:
#Examine table, column names
df_info <- dbGetQuery(con, "SELECT * FROM INFORMATION_SCHEMA.COLUMNS")
head(df_info)

  table_catalog        table_schema table_name column_name ordinal_position
1 bigquery-public-data baseball     games_wide gameId      1
2 bigquery-public-data baseball     games_wide seasonId    2
3 bigquery-public-data baseball     games_wide seasonType  3
4 bigquery-public-data baseball     games_wide year        4
5 bigquery-public-data baseball     games_wide startTime   5
6 bigquery-public-data baseball     games_wide gameStatus  6
  is_nullable data_type is_generated generation_expression is_stored is_hidden
1 YES         STRING    NEVER        NA                    NA        NO
2 YES         STRING    NEVER        NA                    NA        NO
3 YES         STRING    NEVER        NA                    NA        NO
4 YES         INT64     NEVER        NA                    NA        NO
5 YES         TIMESTAMP NEVER        NA                    NA        NO
6 YES         STRING    NEVER        NA                    NA        NO
  is_updatable is_system_defined is_partitioning_column
1 NA           NO                NO
2 NA           NO                NO
3 NA           NO                NO
4 NA           NO                NO
5 NA           NO                NO
6 NA           NO                NO
  clustering_ordinal_position
1 NA
2 NA
3 NA
4 NA
5 NA
6 NA

In [8]:
#Examine schedules table more closely
df_schedules <- df_info[df_info$table_name=="schedules", ]
head(df_schedules)

  table_catalog        table_schema table_name column_name ordinal_position
1 bigquery-public-data baseball     schedules  gameId      1
2 bigquery-public-data baseball     schedules  gameNumber  2
3 bigquery-public-data baseball     schedules  seasonId    3
4 bigquery-public-data baseball     schedules  year        4
5 bigquery-public-data baseball     schedules  type        5
6 bigquery-public-data baseball     schedules  dayNight    6
  is_nullable data_type is_generated generation_expression is_stored is_hidden
1 YES         STRING    NEVER        NA                    NA        NO
2 YES         INT64     NEVER        NA                    NA        NO
3 YES         STRING    NEVER        NA                    NA        NO
4 YES         INT64     NEVER        NA                    NA        NO
5 YES         STRING    NEVER        NA                    NA        NO
6 YES         STRING    NEVER        NA                    NA        NO
  is_updatable is_system_defined is_partitioning_column
1 NA           NO                NO
2 NA           NO                NO
3 NA           NO                NO
4 NA           NO                NO
5 NA           NO                NO
6 NA           NO                NO
  clustering_ordinal_position
1 NA
2 NA
3 NA
4 NA
5 NA
6 NA

In [9]:
#Print unique column names from df_schedules
unique(df_schedules$column_name)

 [1] "gameId"           "gameNumber"       "seasonId"         "year"
 [5] "type"             "dayNight"         "duration"         "duration_minutes"
 [9] "homeTeamId"       "homeTeamName"     "awayTeamId"       "awayTeamName"
[13] "startTime"        "attendance"       "status"           "created"